# Ignore tout par défaut
*

# Autoriser le thème
!themes/
!themes/jc_rouquier/
!themes/jc_rouquier/**

# Autoriser modules custom uniquement
!modules/
modules/*
!modules/b2block/
!modules/b2block/**

# (ajoute ici tes autres modules custom si besoin)
# !modules/mon_module/
# !modules/mon_module/**

# Garder le gitignore
!.gitignore
