/* ===============================
JC Rouquier Theme - Entry point
=============================== */

@import "base/variables.css";
@import "base/reset.css";
@import "base/typography.css";

@import "layout/portal.css";

@import "partials/header.css";
@import "partials/footer.css";
@import "partials/cart.css";
@import "partials/catalog.css";

@import "components/buttons.css";
@import "components/breadcrumb.css";
@import "components/forms.css";

@import "pages/password.css";

section#wrapper{
    padding-top: 8rem;
}
section#wrapper div#content-wrapper{
    padding-left: 0px;   
    padding-right: 0px;   
}
#wrapper .breadcrumb{
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive */
@media (max-width: 991px) {
    section#wrapper {
        padding-top: 5rem;
    }
}
