.catalog-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
}

.catalog-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.catalog-content {
  min-width: 0;
}

@media (max-width: 992px) {
  .catalog-layout {
    grid-template-columns: 1fr;
  }
}
