.catalog-layout {
  display: flex;
  gap: 30px;
}
.catalog-layout::after {
  display: none;
}
.catalog-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
section#wrapper .catalog-layout div#content-wrapper{
  flex: 3;
}

.catalog-content {
  min-width: 0;
}
#products .row.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}
div#js-product-list-top{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0px 0 20px;
  border-bottom: 1px solid #E2E8F0;
}
div#js-product-list-top > div{
  flex: 1;
}
div#js-product-list-top > div::after{
  display: none;
}
.products-selection .total-products{
  flex: 1;
  padding: 0;
}
.products-selection .total-products p{
  margin-bottom: 0px;
}
.products-selection .sort-by-row{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.products-selection .products-sort-order.dropdown{
  min-width: 180px;
}

/* Category header */
.block-category.card.card-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: none;
  padding: 0;
  margin: 0;
  min-height: auto;
}
.block-category.card.card-block .category-cover img{  
  max-width: 120px;
  object-fit: contain;
}

.block-category h1{
  color: var(--color-primary, rgba(13, 85, 130, 0.99));
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  line-height: 32px; /* 88.889% */
  letter-spacing: 0.07px;  
}

/* Cards */
.js-product.product{
  border-radius: 10px;
  border: 1px solid #E2E8F0;
  background: var(--color-white);
  overflow: hidden;
}
article.product-miniature.js-product-miniature.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-card-actions{
  display: flex;
  align-items: stretch;
  gap: 8px;
}
.product-card-actions .product-add-to-cart.js-product-add-to-cart, .product-card-actions form.add-to-cart-or-refresh{
  flex: 2;
}
.product-card-actions .product-add-to-cart.js-product-add-to-cart button[type="submit"], .product-card-actions form.add-to-cart-or-refresh button[type="submit"]{
  font-size: 15px;
  width: auto;
}
.product-card-actions a.product-details-btn{
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #CAD5E2;
  background: #FFF;
  color: var(--color-secondary);
}
a.product-card-image img{
  width: 100%;
  object-fit: contain;
  aspect-ratio: square;
}
.product-card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
  gap: 20px;
}

/* Search filters */
div#search_filters{
  border-radius: 10px;
  border: 1px solid #E2E8F0;
  background: #FFF;
  padding: 15px 0px;
}
#search_filters>.h6{
  padding: 0px 16px;
  color: #0F172B;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#search_filters .facet .facet-title{
  width: 100%;
  background: #F1F5F9; 
  padding: 8px 16px;
  border-top: 1px solid #E2E8F0;
  color: var(--color-primary, rgba(13, 85, 130, 0.99));
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
#search_filters section.facet ul.collapse{
  padding: 8px 16px;
}


/* Responsive */

@media (max-width: 991px) {
  .catalog-layout {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .block-category h1 {
    font-size: 32px;
    line-height: 28px;
  }
  .block-category.card.card-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .block-category.card.card-block .category-cover img {
    max-width: 70px;
    height: auto;
  }
  #products .row.products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  #search_filters .facet .facet-title {
    font-size: 15px;
  }
  #search_filters .facet .facet-label a{
    margin-top: 0;
    font-size: 14px;
  }
  /* Cards */
  h3.product-card-title{
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .catalog-layout{
    flex-direction: column;
  }
  div#js-product-list-top{
    flex-direction: column;
  }
  .products-selection .sort-by-row{
    width: 100%;
    justify-content: space-between;
  }
  #category #left-column #search_filters_wrapper{
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  #products .row.products {
    grid-template-columns: 1fr;
  }
  .block-category h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
