html{
  height: auto;
}
body {
  background-color: var(--color-background);
}
.gutter-left{
  padding-left: var(--gutter-left);
  padding-right: 20px;
}
.gutter-right{
  padding-right: var(--gutter-right);
  padding-left: 20px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-1{flex: 1;}

.w-full{width: 100%;}
.w-auto{width: auto;}

/* Color */
.color-primary{color: var(--color-primary);}
.color-secondary{color: var(--color-secondary);}
.color-white{color: var(--color-white);}

/* Background Color */
.bkg-primary{background-color: var(--color-primary);}
.bkg-secondary{background-color: var(--color-secondary);}
.bkg-white{background-color: var(--color-white);}
.bkg-gradient{background-color: radial-gradient(83.16% 79.96% at 68.38% 76.64%, rgba(13, 85, 130, 0.99) 0%, rgba(12, 65, 98, 0.99) 100%);}


/* Gap */
.gap-5{gap: 5px;}
.gap-10{gap: 10px;}
.gap-20{gap: 20px;}
.gap-30{gap: 30px;}
.gap-40{gap: 40px;}
.gap-50{gap: 50px;}
.gap-60{gap: 60px;}

/* Margin */
.mb-0{margin-bottom: 0px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}
.mb-60{margin-bottom: 60px;}

.mt-0{margin-top: 0px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mt-60{margin-top: 60px;}

/* Padding */
.pb-0{padding-bottom: 0px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-60{padding-bottom: 60px;}

.pt-0{padding-top: 0px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pt-60{padding-top: 60px;}

/* Font size  */
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-24{font-size: 24px;}
.fs-28{font-size: 28px;}
.fs-32{font-size: 32px;}

/* Font weight  */
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}

/* Text */
.text-left{text-align: left;}
.text-right{text-align: right;}

/* Border */
.bt-light-blue{border-top: 1px solid #E2E8F0;}
.bb-light-blue{border-bottom: 1px solid #E2E8F0;}

/* Tag */
.tag-info{
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: rgba(13, 85, 130, 0.10);
  color: var(--color-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
}
.tag-success{
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #95C11F;
  background: rgba(149, 193, 31, 0.10);
  color: #597A00;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.tag-info p{
  color: var(--color-primary);
}
.tag-success p{
  color: #597A00;
}
.text-nowrap{
  white-space: nowrap;
}

/* Responsive */
@media (min-width: 768px) {  
}

@media (min-width: 992px) {  
  .gutter-left{
    padding-right: inherit;
  }
  .gutter-right{
    padding-left: inherit;
  }
}

@media (min-width: 1200px) { 
  
}

@media (min-width: 1440px) { 
  .container{
    width: 1280px;
  }
}
@media (min-width: 1600px) { 
  .container{
    width: 1440px;
  }
}
