button.btn-primary {
  display: inline-block;
  border: 0;
  border-radius: 8px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer; 
  background-color: var(--color-primary);
  color: var(--color-white);
  transition-property: all;
  transition-duration: .3s;
  text-transform: none;
}
button.btn-white {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #CAD5E2;
  background: var(--color-white);
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer; 
  color: var(--color-secondary);
  transition-property: all;
  transition-duration: .3s;
}
button.btn-white:hover {
  background-color: var(--color-secondary);
}
button.btn-white:hover a{
  color: var(--color-white);
}
button.btn-white a{
  color: var(--color-secondary);
}

button.btn-primary:hover {
  background-color: var(--color-secondary);
}
