/* Form styles */
label, label.form-control-label{
  color: #314158;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: -0.15px;
}
input, .forgotten-password .form-fields input, input.form-control{
  height: auto;
  padding: 0.65rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #CAD5E2;
  background: #F3F3F5;
  font-size: 1rem;
  width: 100%;
}
select{
    padding: 0.65rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #CAD5E2;
    background: #F3F3F5;
    font-size: 1rem;
    width: 100%;
}
input:focus {
  outline: 1px solid var(--color-primary);
  outline-offset: 1px;
  /* border-color: var(--color-primary); */
}
input[type="submit"], button[type="submit"]{
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    cursor: pointer; 
    border-radius: 8px;
    background-color: var(--color-primary);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: none;
    height: auto!important;
}